node_modules/

cartridges/int_hipay_sfra/cartridge/static/default/js/*
cartridges/int_hipay_sg/cartridge/static/default/js/*
coverage/
npm-debug.log
.idea/
dw.json
test/acceptance/output/
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
*.code-workspace
*.iml

