[class^="payment-product-sprite-"] {
    display: block;
    height: 80px;
    width: 75px;
    background-image: url("../images/payment-products/payment_product_sprites_small.png");
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0 5px;
}

i.payment-product-sprite-credit-card {
    background-position: -404px -185px;
}
i.payment-product-sprite-mastercard {
    background-position: 0 15px;
}

i.payment-product-sprite-visa {
    background-position: -98px 15px;
}

i.payment-product-sprite-maestro {
    background-position: -199px 15px;
}

i.payment-product-sprite-american-express {
    background-position: -300px 15px;
}

i.payment-product-sprite-multibanco {
    background-position: -400px 15px;
}
i.payment-product-sprite-mbway {
    background-position: -504px 15px;
}

i.payment-product-sprite-sofort-uberweisung {
    background-position: -605px 14px;
}

i.payment-product-sprite-ideal {
    background-position: 5px -52px;
}

i.payment-product-sprite-giropay {
    background-position: -97px -52px;
}

i.payment-product-sprite-cb {
    background-position: -199px -52px;
}

i.payment-product-sprite-przelewy24 {
    background-position: -401px -52px;
}

i.payment-product-sprite-paysafecard {
    background-position: -402px -116px;
}

i.payment-product-sprite-paypal {
    background-position: -10px -115px;
}

i.payment-product-sprite-3xcb {
    background-position: 4px -182px;
}

i.payment-product-sprite-4xcb {
    background-position: -200px -182px;
}

i.payment-product-sprite-3xcb-no-fees {
    background-position: -97px -182px;
}

i.payment-product-sprite-4xcb-no-fees {
    background-position: -300px -182px;
}
i.payment-product-sprite-mybank {
    background-position: -300px -112px;
}
i.payment-product-sprite-3xbnp {
    background-position: -505px -52px;
}
i.payment-product-sprite-4xbnp {
    background-position: -605px -52px;
}
i.payment-product-sprite-sisal {
    background-position: -300px -49px;
}
i.payment-product-sprite-sepa {
    background-position: -97px -115px;
}
i.payment-product-sprite-pe {
    background-position: -503px -115px;
}
i.payment-product-sprite-bancontact {
    background-position: -603px -115px;
}

.payment-method-options {
    display: flex;
    flex-wrap: wrap;
}

.payment-method-options .form-row {
    clear: both;
    float: none;
    width: 33%;
}
.payment-options .nav-item .nav-link {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.payment-options .nav-item .nav-link.active {
    background-color: transparent;
}
.payment-options .nav-item {
    flex: 1 0 20%;
}

.hipay-submit-payment {
    background-color: #84bd00;
    border-color: #608a00;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    padding: 0.5em 2em;
    text-align: center;
    transition: all 0.3s ease;
}

.hipay-submit-payment:hover {
    background-color: #fff;
    border-color: #84bd00;
    color: #84bd00;
}