[class^="payment-product-sprite-"] {
    display: block;
    height: 80px;
    width: 75px;
    background-image: url("../images/payment-products/paymentProductSpritesSmall.png");
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0 5px;
}

i.payment-product-sprite-credit-card {
    background-position: -404px -185px;
}

i.payment-product-sprite-mastercard {
    background-position: 0 15px;
}

i.payment-product-sprite-maestro {
    background-position: -199px 15px;
}

i.payment-product-sprite-american-express {
    background-position: -300px 15px;
}

i.payment-product-sprite-multibanco {
    background-position: -400px 15px;
}

i.payment-product-sprite-mbway {
    background-position: -504px 15px;
}

i.payment-product-sprite-ideal {
    background-position: 5px -52px;
}

i.payment-product-sprite-giropay {
    background-position: -97px -52px;
}

i.payment-product-sprite-cb {
    background-position: -18px -15px;
}

i.payment-product-sprite-przelewy24 {
    background-position: -401px -52px;
}

i.payment-product-sprite-paysafecard {
    background-position: -402px -116px;
}

i.payment-product-sprite-paypal {
    background-position: -10px -115px;
}

i.payment-product-sprite-3xcb {
    background-position: 4px -182px;
}

i.payment-product-sprite-4xcb {
    background-position: -200px -182px;
}

i.payment-product-sprite-3xcb-no-fees {
    background-position: -97px -182px;
}

i.payment-product-sprite-4xcb-no-fees {
    background-position: -300px -182px;
}
i.payment-product-sprite-mybank {
    background-position: -300px -112px;
}
i.payment-product-sprite-sisal {
    background-position: -300px -49px;
}
i.payment-product-sprite-bnpp-3xcb {
    background-position: -505px -52px;
}
i.payment-product-sprite-bnpp-4xcb {
    background-position: -605px -52px;
}
i.payment-product-sprite-sepa {
    background-position: -97px -115px;
}
i.payment-product-sprite-pe {
    background-position: -503px -115px;
}
i.payment-product-sprite-bancontact {
    background-position: -603px -115px;
}
.payment-method-options .form-row {
    clear: none;
    float: left;
    width: 33%;
}
.payment-options .nav-item .nav-link {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.payment-options .nav-item .nav-link.active {
    background-color: transparent;
}
.payment-options .nav-item {
    flex: 1 0 20%;
}
