[class^="payment-product-sprite-"] {
    display: block;
    height: 83px;
    width: 75px;
    background-image: url("../images/payment-products/paymentProductSpritesSmall.png");
    background-repeat: no-repeat;
    cursor: pointer
}

i.payment-product-sprite-hosted {
    background-position: -204px -125px;
}

i.payment-product-sprite-mastercard {
    background-position: 0em 0em;
}

i.payment-product-sprite-visa {
    background-position: -118px -15px;
}

i.payment-product-sprite-maestro {
    background-position: -205px -15px;
}

i.payment-product-sprite-american-express {
    background-position: -300px -15px;
}

i.payment-product-sprite-multibanco {
    background-position: -400px -15px;
}
i.payment-product-sprite-mbway {
    background-position: -492px -15px;
}

i.payment-product-sprite-sofort-uberweisung {
    background-position: -570px -10px;
}

i.payment-product-sprite-ideal {
    background-position: -20px -125px;
}

i.payment-product-sprite-giropay {
    background-position: -110px -122px;
}

i.payment-product-sprite-cb {
    background-position: -18px -15px;
}

i.payment-product-sprite-sisal {
    background-position: -18px -15px;
}

i.payment-product-sprite-przelewy24 {
    background-position: -388px -120px;
}

i.payment-product-sprite-paysafecard {
    background-position: -395px -225px;
}

i.payment-product-sprite-paypal {
    background-position: -10px -218px;
}

i.payment-product-sprite-3xcb {
    background-position: -20px -315px;
}

i.payment-product-sprite-4xcb {
    background-position: -206px -315px;
}

i.payment-product-sprite-3xcb-no-fees {
    background-position: -110px -315px;
}

i.payment-product-sprite-4xcb-no-fees {
    background-position: -295px -315px;
}

i.payment-product-sprite-carte-accord {
    background-position: 0em -15em;
}

i.payment-product-sprite-myb {
    background-position: -300px -225px;
}
i.payment-product-sprite-3xbnp {
    background-position: -485px -122px;
}
i.payment-product-sprite-4xbnp {
    background-position: -575px -122px;
}
i.payment-product-sprite-mooney {
    background-position: -300px -120px;
}
i.payment-product-sprite-sepa {
    background-position: -114px -225px;
}
i.payment-product-sprite-pe {
    background-position: -487px -225px;
}
i.payment-product-sprite-bct {
    background-position: -580px -225px;
}

.payment-method-options .form-row {
    clear: none;
    float: left;
    width: 33%;
}
.payment-options .nav-item .nav-link {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.payment-options .nav-item .nav-link.active {
    background-color: transparent;
}